* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.google-sans {
	font-family: "google-sans";
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	color: $gray;
}

.container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}
