* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	background: #000;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	anchor-name: --nav-anchor;

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-size: 1.25rem;
	padding: 1rem;
	display: block;
}

.nav-link:hover {
	anchor-name: --nav-anchor;
}

.anchor {
	display: none;
	background-color: white;
	height: 5px;
	width: 75px;
	border-radius: 10px;
	transition: all 300ms linear;

	position: absolute;
	position-anchor: --nav-anchor;
	bottom: anchor(bottom);
	left: anchor(50%);
	transform: translate(-50%, -50%);
}

.nav-link:hover ~ .anchor {
	display: block;
}
