$bg: #270064;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: $bg;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.music-svg {
	text-align: center;
	height: calc(100vh - 300px - 1rem);
	opacity: 0.2;
	transition: 100ms all ease-in-out;

	img {
		height: 100%;
	}
}

.piano {
	height: 300px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1rem;
	max-width: 1000px;
	display: flex;
	border: 1px solid rgb(117, 117, 117);
	padding: 3px;
}

.piano-key {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 0.5rem;

	span {
		font-size: 1.25rem;
		opacity: 0.8;
	}

	&.white {
		width: 80px;
		background-color: white;
		border: 1px solid $bg;
		z-index: 0;
		color: black;
	}

	&.black {
		color: white;
		width: 40px;
		height: 180px;
		margin-left: -20px;
		margin-right: -20px;
		background-color: black;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		z-index: 10;
	}
}
