* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #cdefff;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	padding: 25px;
}

.card {
	background: white;
	border-radius: 8px;
	padding: 30px;
	flex-basis: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	border-left: 8px solid #1a6d94;
	transition: all 250ms ease;
}

.card:hover {
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);
}

.card img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 20px;
}

.card h2 {
	margin-bottom: 10px;
}

.card h3 {
	font-weight: 500;
	margin-bottom: 25px;
}

.card p {
	font-size: 17px;
	line-height: 1.5;
}
