* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #1e0249;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100dvh;
  min-height: 600px;
  padding: 1rem;
}

section#reels {
  height: 100%;
  margin: 0 auto;
  aspect-ratio: 9/16;
  border: 2px solid #796697;
  border-radius: 1.5rem;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section#reels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}
.reel .video {
  height: 100%;
}
.reel .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.reel .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem 2rem;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5), transparent);
}
.reel .details .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reel .details .user img {
  border-radius: 50%;
  width: 9%;
  min-width: 40px;
  aspect-ratio: 1/1;
}
.reel .details .user h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 4px;
}
.reel .details .user button {
  cursor: pointer;
  color: white;
  padding: 0.5rem;
  border: 2px solid white;
  background: none;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 10px;
}
.reel .details p {
  font-size: 1.5rem;
  color: white;
  padding-left: 0.5rem;
}
.reel .stats {
  position: absolute;
  bottom: 60px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  color: white;
}
.reel .stats h4 {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.reel .stats h6 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}