* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

header,
footer {
	background: #1a2434;
	color: white;
}

header {
	padding: 3rem;
}

footer {
	padding: 2rem;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 1rem;
}
h2 {
	text-transform: uppercase;
	margin-bottom: 1rem;
}

main {
	background: #f6f8fa;
	padding: 3rem 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	padding: 3rem;
	margin-bottom: 2rem;
}

#about {
	background: white;
}

#education {
	background: #c2d6e3;
}

#skills {
	background: #e2d7aa;
}

#projects {
	background: #e9e4fc;
}

#contact {
	background: #b9d9c4;
}

.item-box {
	max-width: 80%;
	margin: 0 auto;
	background: white;
	padding: 1rem;
	margin-bottom: 0.5rem;
}
