:root {
	--x: 200px;
	--y: 200px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-image: url(https://images.pexels.com/photos/34302395/pexels-photo-34302395.jpeg);
	background-size: cover;
}

.box {
	height: 100%;
	width: 100%;
	background: radial-gradient(
		200px at var(--x) var(--y),
		rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 0.6) 80%,
		rgba(0, 0, 0, 0.9)
	);
}
