* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1.25rem;
  position: relative;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, #6a0dd4, #2342f0);
}

button {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: 250ms all ease-in-out;
}
button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  letter-spacing: 2px;
}