* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #020335;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 2rem;
  color: wheat;
  margin-bottom: 30px;
}

.btn {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #020335;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.btn:last-child {
  margin-right: 0;
}
.btn:hover {
  opacity: 0.8;
}